@import 'responsive.css';

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #BBB url('/assets/images/damask.png') repeat-x center 143px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

/* .navbar-light .navbar-nav .nav-link {
  color: black;
} */
.active {
  color: darkred !important;
  font-weight: 500;
  /* color: darkred !important;
  font-weight: 500;
  display: inline-block;
  height: 2.5em;
  line-height: 1em;
  color: #262626;
  text-shadow: 0 1px 1px rgba(255,255,255,0.4);
  border-left: 1px solid rgba(255,255,255,0.2);
  border-right: 1px solid rgba(0,0,0,0.2);
  background: #858585;
  background: linear-gradient(to bottom,#e6e573 0,#ccd932 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73abe6',endColorstr='#334c66',GradientType=0);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.4); */
}

.inactive {
  color: black !important;
}

.layout {
  min-height: 600px;
} 

.bg-adc {
  /* background-color: #FFCC00; */
  /* background: rgb(253,169,13);
  background: -moz-linear-gradient(top, rgb(253,169,13) 3%, rgb(253,170,13) 4%, rgb(255,229,0) 49%, rgb(254,227,0) 50%, rgb(241,186,7) 76%, rgb(231,155,13) 96%);
  background: -webkit-gradient(left top, left bottom, color-stop(3%, rgb(253,169,13)), color-stop(4%, rgb(253,170,13)), color-stop(49%, rgb(255,229,0)), color-stop(50%, rgb(254,227,0)), color-stop(76%, rgb(241,186,7)), color-stop(96%, rgb(231,155,13)));
  background: -webkit-linear-gradient(top, rgb(253,169,13) 3%, rgb(253,170,13) 4%, rgb(255,229,0) 49%, rgb(254,227,0) 50%, rgb(241,186,7) 76%, rgb(231,155,13) 96%);
  background: -o-linear-gradient(top, rgb(253,169,13) 3%, rgb(253,170,13) 4%, rgb(255,229,0) 49%, rgb(254,227,0) 50%, rgb(241,186,7) 76%, rgb(231,155,13) 96%);
  background: -ms-linear-gradient(top, rgb(253,169,13) 3%, rgb(253,170,13) 4%, rgb(255,229,0) 49%, rgb(254,227,0) 50%, rgb(241,186,7) 76%, rgb(231,155,13) 96%);
  background: linear-gradient(to bottom, rgb(253,169,13) 3%, rgb(253,170,13) 4%, rgb(255,229,0) 49%, rgb(254,227,0) 50%, rgb(241,186,7) 76%, rgb(231,155,13) 96%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fda90d', endColorstr='#e79b0d', GradientType=0 ); */
  background: linear-gradient(to top left, yellow , orange);
}

.bg-section {
   background:linear-gradient(to bottom right, #eee , #fff);
   /* background: url('/images/top_bg1.gif'); */
   /* background:linear-gradient(to right,#fad110 0,rgb(254, 242, 159) 100%); */

  /* padding: .2em 1em .2em 22%;
    border: 3px solid #fff;
    border-left: 0;
    text-align: left;
    color: #356494;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -khtml-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    -moz-box-shadow: 5px 5px 30px rgba(0,0,0,0.17);
    -webkit-box-shadow: 5px 5px 30px rgba(0,0,0,0.17);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.17); */
    
}


.bg-page-title {
  color: darkred;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 0PX 0px 5PX rgba(10,0,0,0.17);
  margin-top: 10px !important;
  margin-left: 0px !important;
  margin-bottom: 10px !important;
  padding: 2px !important;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
    background: linear-gradient(to bottom,#fff 5%,#efeb9633 90%);
  /* padding-left: 10px !important;
    border: 2px solid #fff;
    border-left: 0;
    text-align: left;
    color: darkred;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
    border-radius: 0 4px 4px 0;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.17);
    background: linear-gradient(to right,#ffdc00 0,#fffb0000 100%);
    margin-top: 10px !important;
    text-align: center; */

}

.bg-primary,
.btn-primary {
  color: #000;
  background: rgb(255,175,75);
  background: -moz-linear-gradient(top, rgb(255,175,75) 4%, rgb(255,175,75) 12%, rgb(255,193,29) 60%, rgb(255,199,13) 76%, rgb(255,204,0) 90%);
  background: -webkit-gradient(left top, left bottom, color-stop(4%, rgb(255,175,75)), color-stop(12%, rgb(255,175,75)), color-stop(60%, rgb(255,193,29)), color-stop(76%, rgb(255,199,13)), color-stop(90%, rgb(255,204,0)));
  background: -webkit-linear-gradient(top, rgb(255,175,75) 4%, rgb(255,175,75) 12%, rgb(255,193,29) 60%, rgb(255,199,13) 76%, rgb(255,204,0) 90%);
  background: -o-linear-gradient(top, rgb(255,175,75) 4%, rgb(255,175,75) 12%, rgb(255,193,29) 60%, rgb(255,199,13) 76%, rgb(255,204,0) 90%);
  background: -ms-linear-gradient(top, rgb(255,175,75) 4%, rgb(255,175,75) 12%, rgb(255,193,29) 60%, rgb(255,199,13) 76%, rgb(255,204,0) 90%);
  background: linear-gradient(to bottom, rgb(255,175,75) 4%, rgb(255,175,75) 12%, rgb(255,193,29) 60%, rgb(255,199,13) 76%, rgb(255,204,0) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ffcc00', GradientType=0 );
}

.active-left-menu {
  background-color: #f8f9fa;
  border-right: 5px solid red;
  color: blue;
  font-weight: 800;
  /* text-align: right; */
}


.active-left-menu > a {
  font-weight: 600;
  text-decoration: none;
}

.footer {
  text-align: center;
}

.web-title {
  font-family: 'Merriweather', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',    sans-serif;
  font-weight: 800;
  text-shadow: 2px 2px #dddddd;
  /* text-transform: uppercase; */

}

.web-sub-title{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 17px;
  /* font-family: 'Merriweather', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',    sans-serif; */

}
.page-title {
  /* border-bottom: solid 1px #ccc; */
  margin: 5px 0px;
  padding: 5px 0px;
  /* font-family: 'Merriweather', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',    sans-serif; */
  font-weight: 500;
  font-size: 22px;
}
.home-section-title {
  min-height: 30px;
  font-size: 18px;
}

.text-wrap {
  float: right;
margin: 10px;
};

.tabs {
  border: solid 1px red;
}
.tab-list {
  border-bottom: 1px solid #ccc !important;
  padding-left: 0;
  
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid #ccc;
  
}

.tab-list-active {
  background-color: transparent;
  border-bottom: solid 1px white !important;
  border-left: solid 1px #ccc !important;
  border-top: solid 5px #ccc !important;
  border-right: solid 1px #ccc !important;
  font-weight: 600;
  color: darkred;
  /* border-width: 1px 1px 0 1px; */
}

.btn-width-150,
.button-width {
  width: 150px !important;
}

.carousel-caption {
  display: inline;
  z-index: 0;
}

.caption-head {
  font-weight: 800;
  text-transform: capitalize;
  text-shadow: 1px 1px #ccc;
  -webkit-text-stroke: 1px #000;
}
.address-text {
  margin: 0px;
  padding: 0px;
}
.card-title {
  font-size: 19px;
  font-weight: 500;
}

.image-gallery-description{
  width: 100%;
  bottom: 0;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}
 
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.required:after 
{
  content:"*";
  color: red;
  margin-left: 5px;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}


.line-break {
  white-space: pre-wrap; /*pre-wrap*/
  white-space: pre-line; /*pre-line*/
}

/*************************************************/
.loader {
  border: 10px solid #ff9900;
  border-radius: 50%;
  border-top: 20px solid black;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.loading-text {
  width: 100%;
  color: black;
  text-align: center;
  font-size: 1rem;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*************************************************/
