
@media only screen and (max-device-width: 480px)
{
    .web-logo {
        padding-top: 10px;
        padding-left: 10px;
        width: 60px;
    }

    .web-title {
        font-weight: 700;
        font-size: 1em;
        margin-left: 24px;
      }

    .web-sub-title {
        font-size: 1em;
        text-transform: uppercase;
    }

    .estb > li:first-child,
    .estb > li:nth-child(2),
    .publications > li:first-child,
    .publications > li:nth-child(2),
    .publications > li:last-child {
        font-size: .75em;
    }

    .publications > li:first-child
    {
        width: 25%;
    }
    .publications > li:nth-child(2)
    {
        width: 60%;
    }
    .publications > li:last-child
    {
        width: 15%;
    }

    .carousel {
        margin-top: -10px;
    }
    .carousel-indicators,
    .caption-sub-label,
    .caption-label {
        display: none
    }
};